.auth {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #392250;
}

.card {
    width: 455px;
    height: 634px;
    background-color: #F9EFDA;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.38);
    border-radius: 30px;
    padding: 80px 85px;
}

.card p {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.form {
    text-align: left;
    margin-top: 18px;
}

.signin {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin button {
    background: none;
    padding: 12px 50px;
    border: 1px solid #392250;
    border-radius: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #392250;
}


.signin p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.footer {
    padding: 14px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer > p{
    margin-top: 30px;
    margin-bottom: 50px;

}

.footer p > a {
    margin-left: 50px;
}

.footer a {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
}

.form,
.form_pass {
    text-align: left;
    margin: 9px 0;
    padding-left: 30px;
}

.form_pass {
    padding-right: 30px;
}

.input {
    display: flex;
    position: relative;
    width: 100%;
}

.input .eyeslashinput,
.input .img_icon {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
}


.input .eyeslashinput {
    right: 10px;
}

.input .img_icon {
    left: 10px;
}