.help {
    font-family: 'Raleway', sans-serif;
}

.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 115.5%;
    color: #392250;
    margin-bottom: 70px;
}

.faqs {
    margin-bottom: 405px;
}